html,
body,
#root {
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.movie-grid {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0;
}

.movie-card {
  position: relative;
  overflow: hidden;
}

.movie-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.movie-card-overlay {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 1rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.75);
  opacity: 0;
  transition: opacity 0.25s ease;
}

.movie-card:hover .movie-card-overlay {
  opacity: 1;
}

.movie-detail-page {
  height: 100%;
}

.hero {
  position: relative;
  min-height: 100%;
  background-size: cover;
  background-position: center;
  color: white;
}

.hero-content {
  position: absolute;
  left: 1rem;
  right: 1rem;
  bottom: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.detail-poster {
  display: block;
  width: 85%;
  max-width: 280px;
  border: solid 0.6rem white;
}

.detail-info h1 {
  font-size: 2.8rem;
}

.movie-text {
  font-size: 1.1rem;
}

.hero-fade-bottom {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));
}

.rating {
  display: inline-block;
  color: black;
  background: rgb(247, 247, 247);
  font-weight: 600;
  font-size: 1.5rem;
  padding: 0.5rem;
}

.star {
  color: rgb(253, 232, 37);
}

.back-link {
  display: inline-flex;
  text-decoration: none;
  padding: 0.6rem;
  color: white;
  font-weight: 700;
  font-size: 1.5rem;
  gap: 0.5rem;
}

.back-circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.back-icon {
  color: black;
  font-size: 1rem;
}

@media (min-width: 375px) {
  .movie-grid {
    grid-template-columns: repeat(2, 1fr);

  }
}

@media (min-width: 768px) {
  .movie-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .hero-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: end;
  }
}

@media (min-width: 1024px) {
  .movie-grid {
    grid-template-columns: repeat(4, 1fr);
  }

  .detail-poster {
    margin-left: 2rem;
  }

  .hero-content {
    grid-template-columns: repeat(3, 1fr);
    align-items: end;
    gap: 2rem;
  }
}